@import "components/variables";
// bower:scss
@import "components/bootstrap.scss";
// endbower,
@import "components/icons";

/* Mixin */
@mixin item-preview() {
  .preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: bottom 350ms ease-in-out, filter 350ms ease-in-out;
    cursor: default;

    background: {
      image: none;
      color: #eee;
      position: 50% 50%;
      size: cover;
    }

    filter: grayscale(100%);
  }

  .description {
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    top: 100%;
    padding: 10px 15px 0;
    background: white;
    transition: top 350ms ease-in-out;
    text-decoration: none;
    color: inherit;
    outline: 0;

    .name {
      @extend .size-2;
      font-weight: 700;
    }
    .post {
      color: $color-gray;
      padding: 8px 0 0;
      text-decoration: none;
    }
    .more {
      font-size: 12px;
      text-decoration: underline;
      position: absolute;
      bottom: 10px;
      left: 15px;
    }
  }

  &:hover {
    .preview {
      bottom: 50%;
      filter: grayscale(0%);
    }
    .description {
      top: 50%;
    }
  }
}
@mixin btn-next() {

  $background: #eee;

  .btn-next {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 65px;
    cursor: pointer;
    background: lighten($background, 3%);

    &:hover {
      background: $background;
    }

    &:before {
      font-family: "icons";
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      position: absolute;
      content: '\e806';
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%;
      margin: -12px 0 0 -12px;
      /*background: {
        image: url($right-arrow);
        position: 50% 50%;
        repeat: no-repeat;
      }*/
    }
  }
}

/* Main styles */
a {
  @extend .blue;
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: underline;
    @extend .blue;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $color-default;

  nav.desktop-only,
  section.main {
    filter: blur(0px);
    transition: filter 350ms ease-in-out;
  }

  &.popup-menu-is-show {
    div.toggle-menu {
      background: transparent;
    }
    nav.desktop-only,
    section.main {
      @extend .blur;
    }
  }
}

section {
  padding: 0 15px;

  &.main {
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 15px;
  }
}

.block-header {
  color: $color-header;

  button.big {
    margin: 35px 0 60px 0;
    padding: 18px 36px;
  }
}

.article {
  .preview {
    @extend .margin-bottom-25;
    background: {
      image: none;
      color: #eee;
      position: 50% 50%;
      size: cover;
    }
    width: 100%;
    height: 160px;
  }
  .time {
    @extend .margin-bottom-10;
    color: $color-gray;
  }
  .title {
    @extend .size-3;
    @extend .bold;
    @extend .margin-bottom-15;
    display: inline-block;
    text-decoration: none;
  }
  .description {
    @extend .size-2;
    @extend .gray;
    @extend .margin-bottom-40;
  }
}

.why-it-is-needed {
  @extend .margin-top-100;
  @extend .margin-bottom-150;

  div[class^="col-"] {
    height: 370px;
    padding: 0 50px;
  }
  .table {
    @extend .no-margin;
  }
  .title {
    @extend .size-4;
    @extend .baron-black;
    @extend .margin-bottom-15;
    color: $color-header;
  }
  .subtitle {
    @extend .size-2;
    @extend .margin-bottom-15;
  }

  .description {
    font-weight: 300;
  }
}

.video-preview {
  background: {
    color: #fbfbfb;
    image: url('../images/img-1.jpg');
    repeat: no-repeat;
    position: 50% 50%;
  }

  .btn-play {
    display: inline-block;
    position: relative;
    width: 124px;
    height: 124px;
    background: rgba(6, 152, 255, .7);
    border-radius: 50%;
    cursor: pointer;
    outline: 0;

    &:before {
      @extend .baron-black;
      @extend .size-4;
      color: white;
      content: 'play';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 21px;
      margin-top: -11px;
      text-align: center;
    }
  }
}

button {
  @extend .no-outline;
  border: none;
  background: $color-button-background;
  color: $color-button-text;
  padding: 12px 30px 15px;

  span {
    position: relative;
    top: -1px;
  }
  &:hover {
    background: $color-button-hover;
  }
  &:active {
    background: $color-button-active;
  }

  &.blue {
    color: white;
    background: $color-blue;

    &:hover, &:active, &:focus {
      background: darken($color-blue, 7.5%);
    }
  }
}

a.button {
  @extend .baron-regular;
  color: $color-link-button-text;
  text-decoration: none;
  background: $color-link-button-background;
  padding: 25px 35px;

  &:hover {
    background: $color-link-button-hover;
  }
  &:active {
    background: $color-link-button-active;
  }
}

.logotype-list {
  .table {
    height: 100px;
    margin: 0;
  }

  &-big {
    margin: 40px 0 0;
    padding-bottom: 20px;

    .logo {
      text-align: center;
      padding: 20px 0;
    }
    .desc {
      max-width: 800px;
    }
    .link {
      @extend .text-uppercase;
      @extend .baron-black;
      @extend .size-2;
      @extend .margin-top-15;
    }
  }
}

footer {
  .row {
    min-height: 64px;
    background: $color-darken-white;
  }
  a.button {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
  }
  .table {
    height: 64px;
  }
  .small {
    color: lighten($color-gray, 15%);
  }
  .visible-xs {
    .table {
      height: 44px;
    }
    .table-cell {
      vertical-align: top;
    }
  }
}

/* Navigation */
div.toggle-menu {
  position: fixed;
  z-index: 50;
  width: 68px;
  height: 68px;
  top: 0;
  left: 0;
  background: $color-blue;
  cursor: pointer;
  padding-top: 23px;
  transition: padding 150ms ease-in-out, background 150ms ease-in-out;

  div {
    width: 40%;
    margin: 0 auto;
    height: 2px;
    background-color: #fff;
    transition: all 150ms ease-in-out;

    & + div {
      margin-top: 8px;
    }
  }

  &:not(.in):hover {
    padding-top: 21px;

    div + div {
      margin-top: 10px;
    }
  }

  &.in {
    div {
      &:first-child {
        transform: rotate(45deg) translate(7px, 7px) scale(1.35, 1);
      }
      &:nth-child(2) {
        transform: translate(-62px, 0px);
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg) translate(7px, -7px) scale(1.35, 1);
      }
    }
  }
}

nav.desktop-only {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 68px;
  background: $color-light-gray;

  .navigation {
    min-width: 460px;
    transform-origin: left top;
    transform: rotate(90deg) translate(68px, -68px);

    a {
      @extend .size-4;
      @extend .baron-black;
      color: $nav-link-text;
      text-decoration: none;
      display: inline-block;
      white-space: nowrap;
      height: 68px;
      line-height: 68px;
      padding: 0 40px;
      background: transparent;

      &:hover,
      &.active {
        background: $color-button-hover;
      }
    }
  }
}

.popup-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px 15px 0 15px;

  color: white;

  background: rgba(46, 47, 55, .9);
  opacity: 0;
  visibility: hidden;

  transition: all 350ms ease-in-out;

  &.in {
    opacity: 1;
    visibility: visible;
  }

  .number-items {
    max-width: 680px;
    padding-bottom: 30px;

    .item {
      @extend .baron-black;
      @extend .size-5;
      color: #cdcdcd;
      text-decoration: none;
      text-align: center;
      height: 50px;
      display: table;
      width: 100%;

      span {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        position: relative;
        top: -5px;
      }

      &:hover,
      &.active {
        color: white;
        background: $color-blue;
      }
    }
  }

  ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;

    li {
      margin: 5px 0;

      a {
        @extend .baron-bold;
        @extend .size-5;
        text-decoration: none;
        color: white;
        padding: 2px 10px 11px 10px;
        display: inline-block;
        line-height: 1;

        &:hover,
        &.active {
          background: $color-blue;
        }
      }

      &.sub ul {
        display: none;
        margin: 0 0 0 20px;
        padding: 10px 0;

        li a {
          @extend .size-3;
        }
      }
    }
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    padding-left: 102px;

    .social-link {

      &:before {
        content: ' ';
        display: table;
      }
      &:after {
        content: ' ';
        display: table;
        clear: both;
      }

      a {
        display: inline-block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: $social-link-background;
        color: $color-button-text;
        text-align: center;
        line-height: 36px;
        font-size: 16px;
        margin: 0 5px;

        &:hover {
          background: white;
        }
      }
    }
  }
}
/* End navigation */

.popup-sign-in {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: white;

  background: rgba(46, 47, 55, .9);
  opacity: 0;
  visibility: hidden;

  transition: all 350ms ease-in-out;

  &.in {
    opacity: 1;
    visibility: visible;
  }

  > .close {
    position: fixed;
    z-index: 15;
    width: 68px;
    height: 68px;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 23px;

    div {
      width: 40%;
      margin: 0 auto;
      height: 2px;
      background-color: #fff;
      transition: all 150ms ease-in-out;

      &:first-child {
        transform: rotate(45deg) translate(7px, 7px) scale(1.35, 1);
      }
      &:nth-child(2) {
        transform: translate(-62px, 0px);
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg) translate(7px, -7px) scale(1.35, 1);
      }

      & + div {
        margin-top: 8px;
      }
    }
  }

  form {
    width: 100%;
    padding: 25px 15px;

    /*background: $color-blue;*/

    .social-link {
      padding-top: 25px;
      display: inline-block;

      a {
        background: #787b8e;
        color: #2e2f37;

        &:hover {
          background: white;
        }
      }
    }
  }
}

.head .table {
  height: 68px;
}

.online-now {
  @extend .margin-top-50;

  .item {
    width: 190px;

    .preview {
      position: relative;
      display: block;
      padding: 50% 0;
      background: {
        image: none;
        position: 50% 50%;
        size: cover;
        color: #eee;
      }
    }

    b {
      display: block;
      padding: 15px 0 0;
    }
    .post {
      color: $color-gray;
      padding: 8px 0 0;
    }
    small {
      display: block;
      padding: 20px 0 0;

      & ~ div {
        color: #000;
        text-transform: uppercase;
        padding: 2px 0 30px;
      }
    }
  }

  @include btn-next;
}

.speakers {
  button {
    margin-right: 50px;
  }

  .owl-carousel {
    position: relative;
    padding-right: 65px;
  }

  .item {
    width: 100%;
    padding: 50% 0;
    position: relative;
    overflow: hidden;

    @include item-preview;
  }

  @include btn-next;
}

/* Fix for iOS */
html.is-ios {
  .popup-menu .number-items .item span {
    top: 2px;
  }
  .popup-menu ul li a {
    height: 32px;
    padding: 0 10px;
    line-height: 35px;
  }
  button span {
    top: 1px;
  }
  .video-preview .btn-play:before {
    margin-top: -9px;
  }
}
label {
  @extend .size-1;
  font-weight: 300;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  @extend .semi-bold;
  @extend .size-2;
  color: #010101;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
  &::-moz-placeholder {
    font-weight: 400;
    color: #c9c9c9;
    opacity: 1;
  }
  &:-ms-input-placeholder { color: #c9c9c9; font-weight: 400; }
  &::-webkit-input-placeholder  { color: #c9c9c9; font-weight: 400; }
}

.press-header {
  color: white;
  background: {
    color: $color-blue;
    image: url('../images/press__head-bg.gif');
    repeat: no-repeat;
    position: 50% 50%;
  };
  padding: 25px 0 30px;
  min-height: 150px;

  .secon-big {
    @extend .baron-black;
    font-size: 72px;
    margin: 30px 0;
  }

  button {
    padding: 17px 30px 20px;
  }

  .table {
    min-height: 140px;

    .table-cell {
      vertical-align: bottom;
    }
  }
}

.get-logotype {
  padding-top: 70px;
  padding-bottom: 70px;

  .links {
    @extend .clear;
    padding-top: 30px;
  }

  a {
    @extend .size-2;
    color: $nav-link-text;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;

    span {
      display: inline-block;
      margin-left: 15px;

    }

    &:hover span {
      color: $nav-link-text;
      text-decoration: underline;
    }
  }
}

.release {
  padding-top: 70px;
  padding-bottom: 70px;
}

.ui.selection.dropdown {
  color: #010101;
  background: $color-darken-white;
  border-radius: 0;

  &,
  &:hover {
    border: 1px solid transparent;
  }
}
.ui.dropdown .menu > .item {
  @extend .size-2;
}
.ui.dropdown > .default.text,
.ui.default.dropdown > .text {
  font-weight: 400;
  color: #c9c9c9
}

.docs {
  .time {
    height: 40px;

    .label {
      width: 16px;
    }
  }
}

.rating-wrap {
  width: 180px;

  .stars {
    width: 132px;
  }

  .current {
    @extend .blue;
    @extend .size-2;
    @extend .baron-regular;
  }
}

.price {
  background-color: #fcfcfc;
  padding: 30px 0 0;

  .label {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .line {
    max-width: 900px;
    padding-bottom: 50px;

    .table {
      height: 80px;
      margin-bottom: 1px !important;

      .table-cell {
        position: relative;
        border-left: 5px solid #ededed;
        padding-left: 15px;
      }

      &+.small {
        padding-left: 20px;
      }
    }
  }

  hr {
    max-width: 900px;
    margin: 0;
    background-color: white;
  }
}

.reg-header {

  padding-top: 50px;

  .table {
    margin-top: 28px;
    height: 78px;
  }

  .nav-tabs > li.active a,
  .nav-tabs > li.active a:hover {
    background-color: #f8f8f8;
    color: $color-blue;
  }

  .nav-tabs > li a {
    padding: 18px 28px;
  }

  .nav-tabs > li a,
  .nav-tabs > li a:hover {
    color: #282828;
  }
}

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.archive {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 0;

  > div:first-child {

    @extend .baron-bold;
    @extend .size-2;
    @extend .margin-bottom-25;

    text-align: center;
  }
}

@import "components/font";
@import "components/typography";
@import "components/commons";
@import "components/speakers";
@import "components/schedule";
@import "components/users";
@import "components/cabinet";
@import "components/modal";
@import "components/banner";
@import "components/media";