$icon-font-path: '../fonts/';
$font-path: '../fonts/';

$nav-link-text: #282932;
$social-link-background: #787b8e;

$lime: #cce307;
$purple: #ff00f0;
$yellow: #ffd800;
$turquoise: #00f0ff;

$color-default: #3c3d44;
$color-gray: #696969;
$color-light-gray: #eee;
$color-header: #2e2f37;
$color-blue: #0698ff;
$color-darken-white: #f8f8f8;

$color-button-background: #f3f4f5;
$color-button-text: #2e2f37;
$color-button-hover: #00aeff;
$color-button-active: #0698ff;

$color-link-button-background: #0698ff;
$color-link-button-text: white;
$color-link-button-hover: #00aeff;
$color-link-button-active: #0e92cf;

$right-arrow: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMDY5OGZmIiBkPSJNNSAzbDMuMDU3LTMgMTEuOTQzIDEyLTExLjk0MyAxMi0zLjA1Ny0zIDktOXoiLz48L3N2Zz4=';
$play-arrow: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjYTZhNmE2IiBkPSJNMjEgMTJsLTE4IDEydi0yNHoiLz48L3N2Zz4=';

$input-border-radius: 0;
$input-bg: $color-darken-white;
$input-border: $color-darken-white;
$padding-base-vertical: 12px;
$padding-base-horizontal: 20px;