.banner {
  background: {
    color: #292b35;
    image: url("../images/banner-bg.gif");
    repeat: no-repeat;
    position: right bottom;
  }

  padding: 60px 0 0 0;

  /*min-height: 500px;*/

  .h {
    @extend .clear;

    span {
      display: block;
      /*float: left;*/
    }
    span:last-child {
      @extend .size-1;
      @extend .baron-regular;
      @extend .gray;

      /*padding-top: 30px;
      margin-left: 15px;
      max-width: 260px;*/

      padding-top: 20px;
      margin-bottom: 40px;
      line-height: 1.34;
    }
  }

  .time {
    position: relative;
    left: -200px;
    top: 70px;
  }
  
  .arrows {
    margin: 15px 0 15px 60px;
  }

  .button {
    @extend .clear;

    .left {
      float: left;
      width: 240px;

      div {
        line-height: 1.34;
        padding-bottom: 40px;
      }
    }
  }
}