.nav-tabs {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    display: block;
    width: 100%;
    text-align: center;

    a {
      @extend .baron-regular;
      @extend .size-2;
      color: lighten($color-gray, 40%);
      text-decoration: none;
      display: block;
      padding: 28px;
      background: transparent;

      &:hover, &:active, &:focus {
        color: $color-blue;
        background: $color-darken-white;
      }
    }

    &.active a {
      color: white;
      background: $color-blue;
    }
  }
}

.cabinet-header {
  color: white;
  background: $color-blue;
  padding: 25px 0 30px;

  .title {
    @extend .baron-regular;
    @extend .size-4;
    margin-bottom: 23px;

    &.small {
      @extend .size-2;
    }
  }

  .input-wrap {
    max-width: 860px;

    input {
      @extend .text-uppercase;
      padding-left: 0;
      padding-right: 0;

      background-color: transparent;

      border: {
        top: none;
        left: none;
        right: none;
      };

      &:focus {
        border-color: #000;
      }
    }
  }

  .subtitle {
    @extend .baron-regular;
    @extend .size-6;
  }

  button {
    margin-top: 30px;
  }
}

form.cabinet {
  @extend .margin-top-50;
  max-width: 860px;
}

div.cabinet-content {
  @extend .margin-top-50;
}

.social-link-item {
  position: relative;
  padding: 15px 0 15px 60px;
  margin-bottom: 25px;

  span {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;

    color: white;
    font-size: 26px;
    line-height: 48px;
    text-align: center;

    border-radius: 50%;
    background: $color-header;
  }

  b {
    @extend .ellipsis;
    display: inline-block;
    max-width: 80%;
  }

  a.icon-close {
    color: lighten($color-gray, 25%);
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -3px;

    &:hover {
      color: lighten($color-gray, 35%);
    }
  }
}

.social-link {
  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }

  .legend {
    float: left;
    padding: 15px 25px 15px 0;
  }

  a[class*="icon"] {
    float: left;

    display: block;
    width: 48px;
    height: 48px;
    margin-right: 15px;

    color: white;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;

    border-radius: 50%;
    background: #cdcdcd;

    &:hover {
      background: $color-blue;
    }
  }

  &.small-icon {
    .legend {
      padding: 11px 15px 0 0;
    }
    a[class*="icon"] {
      width: 36px;
      height: 36px;
      margin-right: 10px;

      font-size: 18px;
      line-height: 36px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.cabinet-content {
  .header {
    @extend .baron-regular;
    color: $color-blue;
  }

  .item {
    position: relative;
    min-height: 200px;

    &:after {
      position: absolute;
      content: ' ';
      left: 20px;
      right: 20px;
      bottom: 0;
      height: 5px;
    }

    a.icon-close {
      text-decoration: none;
      color: lighten($color-gray, 25%);
      position: absolute;
      right: 20px;
      top: 0;

      &:hover {
        color: $color-blue;
      }
    }

    .time {
      @extend .baron-regular;
      @extend .size-4;
      padding: 0 0 20px 0;
    }
    b {
      display: inline-block;
      padding: 0 0 5px 0;
    }
    .post {
      padding: 0 0 30px 0;
    }
    small + div {
      color: #000;
    }
  }

  .item.label-1:after {
    background: $yellow;
  }
  .item.label-2:after {
    background: $turquoise;
  }
  .item.label-3:after {
    background: $purple;
  }
  .item.label-4:after {
    background: $lime;
  }

  .tools {
    a {
      @extend .size-6;

      color: lighten($color-gray, 25%);
      display: inline-block;
      text-decoration: none;

      margin-left: 15px;

      &:hover {
        color: $color-blue;
      }
    }
  }
}