@font-face {
  font-family: 'Baron Neue Regular';
  src: local('Baron Neue'),
  local('BaronNeue'),
  url('#{$font-path}baronneue.woff2') format('woff2'),
  url('#{$font-path}baronneue.woff') format('woff'),
  url('#{$font-path}baronneue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baron Neue Bold';
  src: local('Baron Neue Bold'),
  local('BaronNeueBold'),
  url('#{$font-path}baronneuebold.woff2') format('woff2'),
  url('#{$font-path}baronneuebold.woff') format('woff'),
  url('#{$font-path}baronneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Baron Neue Black';
  src: local('Baron Neue Black'),
  local('BaronNeueBlack'),
  url('#{$font-path}baronneueblack.woff2') format('woff2'),
  url('#{$font-path}baronneueblack.woff') format('woff'),
  url('#{$font-path}baronneueblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*@font-face {
  font-family: 'Baron Neue';
  src: local('Baron Neue Italic'),
  local('BaronNeueItalic'),
  url('#{$font-path}baronneueitalic.woff2') format('woff2'),
  url('#{$font-path}baronneueitalic.woff') format('woff'),
  url('#{$font-path}baronneueitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Baron Neue';
  src: local('Baron Neue Bold Italic'),
  local('BaronNeueBoldItalic'),
  url('#{$font-path}baronneuebolditalic.woff2') format('woff2'),
  url('#{$font-path}baronneuebolditalic.woff') format('woff'),
  url('#{$font-path}baronneuebolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Baron Neue';
  src: local('Baron Neue Black Italic'),
  local('BaronNeueBlackItalic'),
  url('#{$font-path}baronneueblackitalic.woff2') format('woff2'),
  url('#{$font-path}baronneueblackitalic.woff') format('woff'),
  url('#{$font-path}baronneueblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}*/
