@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?68624325');
  src: url('../fonts/icons.eot?68624325#iefix') format('embedded-opentype'),
  url('../fonts/icons.woff?68624325') format('woff'),
  url('../fonts/icons.ttf?68624325') format('truetype'),
  url('../fonts/icons.svg?68624325#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?68624325#icons') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-vk:before { content: '\e800'; }
.icon-ok:before { content: '\e801'; }
.icon-fb:before { content: '\e802'; }
.icon-in:before { content: '\e803'; }
.icon-close:before { content: '\e804'; }
.icon-prev:before { content: '\e805'; }
.icon-next:before { content: '\e806'; }
.icon-clock:before { content: '\e807'; }
.icon-twitter:before { content: '\e808'; }
.icon-google-plush:before { content: '\e809'; }
.icon-save:before { content: '\e80a'; }
.icon-print:before { content: '\e80b'; }