@media (min-width: 480px) {
  .popup-sign-in form {
    width: 480px;
    margin: 0 auto;
  }
  .input-search {
    width: 420px;
  }
}

@media (min-width: 768px) {

  .popup-menu {
    padding-left: 102px;
  }
  .schedule .content.details .description {
    padding: 60px 20px;
  }
  .schedule .content.details .description .play {
    margin: 0;
  }
  .col-sm-padding-right-30 {
    padding-right: 30px;
  }
  .nav-tabs > li {
    width: auto;
    float: left;
  }
  .cabinet-header button {
    margin-top: 0;
  }
  .social-link-item b {
    max-width: 100%;
  }
  .cabinet-content .list .item {
    display: table-cell;
    width: 50%;
  }
  .popup-sign-in form .social-link {
    padding-top: 2px;
  }
  .col-sm-text-right {
    text-align: right;
  }

  .archive {
    left: 115px;
    bottom: 50px;

    > div:first-child {
      font-size: 18px;

      text-align: left;
    }
  }
}

@media (min-width: 992px) {
  section.main {
    left: 68px;
  }

  nav {
    background: $color-light-gray;
  }

  footer a.button {
    left: -15px;
  }

  .col-lg-padding-left-50 {
    padding-left: 50px;
  }

  .col-lg-padding-top-0 {
    padding-top: 0;
  }

  .speakers .owl-carousel {
    left: -15px;
    padding-right: 50px;

    .btn-next {
      right: -15px;
    }
  }

  .press-header .secon-big {
    line-height: 0.5;
    margin: 0;
  }

  .get-logotype .links {
    text-align: center;
  }

  .users .content .item {
    text-align: left;
    padding-left: 15px;

    &.name {
      width: 250px;

      &.long {
        width: 384px;
      }
    }
    &.post {
      width: 180px;
    }
    &.company {
      width: 160px;
    }
    &.city {
       width: 100px;
    }
    &.star {
      width: 180px;
    }
    &.social {
      width: 183px;
      text-align: right;

      .social-link {
        display: inline-block;
      }
    }
  }

  .users .content .item.thumbs_up-blue-bg__wrapper {
    width: 100px;
  }
}

@media (min-width: 1200px) {
  body:not(.show-schedule-btn) .schedule .btn-prev,
  body:not(.show-schedule-btn) .schedule .btn-next {
    visibility: hidden;
  }
}

@media (max-width: 480px) {

  .col-xs-min-12 {
    width: 100% !important;
  }

  .col-xs-min-text-center {
    text-align: center;
  }

  .size-7 {
    font-size: 44px;
  }

  .size-8 {
    font-size: 72px;
  }
}

@media (max-width: 768px) {

  .xs-size-normal  {
    font-size: 18px !important;
  }
  .xs-size-2 {
    font-size: 20px !important;
  }
  .xs-size-3 {
    font-size: 22px !important;
  }

  .article .title {
    font-size: 20px;
  }
  .article .description {
    font-size: 18px;
  }

  .col-xs-text-center {
    text-align: center;
  }

  .popup-menu {
    padding: 62px 15px 0 15px;

    .number-items .item {
      font-size: 18px;
      background: none;
    }

    ul {
      margin: 20px 0 0;
      li {
        text-align: center;
        a {
          font-size: 16px;
        }
      }
    }

    .footer {
      top: 15px;
      right: 10px;
      bottom: auto;
      left: 20%;
      padding-left: 0;

      .social-link {
        text-align: right;

        a {
          width: 26px;
          height: 26px;
          line-height: 26px;
          font-size: 15px;
        }
      }
    }
  }

  .toggle-menu {
    transform: scale(1, 1) translate(0, 0) !important;
  }

  .head .table:not(.logotype) {
    height: 36px;
  }
}

@media (max-width: 991px) {

  .toggle-menu {
    transform: scale(1.2, 1.2) translate(5px, 5px);
  }

  .widget,
  #vk_groups,
  #vk_groups > iframe,
  .twitter-timeline {
    width: 100% !important;
  }
}