/*

.modal-open {
  overflow: auto;
}

*/

.modal {
  padding-right: 0 !important;

  &.fade .modal-dialog {
    opacity: 0;
    visibility: hidden;

    transform: none;
    transition: all 350ms ease-in-out;
  }

  &.in .modal-dialog {
    opacity: 1;
    visibility: visible;

    transform: none;
  }

  .modal-content {
    border-radius: 0;
    min-height: 100px;
    padding: 70px 50px 30px;

    p {
      color: $color-gray;
    }

    .icon-close {
      position: absolute;
      top: 12px;
      right: 12px;
      color: $color-gray;
      height: 32px;
      width: 32px;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -7px 0 0 -7px;
      }
    }
  }
}

.modal-backdrop {
  background: rgba(46, 47, 55, .9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;

  &.fade {
    opacity: 0;
    visibility: hidden;
    filter: none;
    transition: all 350ms ease-in-out;
  }

  &.in  {
    opacity: 1;
    visibility: visible;
  }
}

/* Fancy box styles */

.fancybox-overlay {
  background: rgba(46, 47, 55, .9);
}