.list {
  > .row:nth-child(2n-1) {
    background: $color-darken-white;

    .time-line {
      background: darken($color-blue, 3.5%);
    }
  }
}
.schedule {

  .time-line {
    position: relative;
    width: 54px;
    background: lighten($color-blue, 7.5%);

    span {
      @extend .baron-bold;
      @extend .size-4;

      color: white;
      position: absolute;
      top: 50%;
      margin-top: -27px;
      transform-origin: left top;
      transform: rotate(90deg) translate(6px, -40px);
    }
  }
  .content {
    width: 90%;
  }

  &.header {
    .time-line {
      @extend .size-3;
      text-align: center;
      color: #fff;
    }
    .content {
      background: $color-header;
    }
  }

  &.header {
    .time-line:after {
      position: absolute;
      content: ' ';
      right: -1px;
      width: 1px;
      top: 0;
      bottom: 0;
      background: $color-header;
      z-index: 10;
    }
    .item {
      text-align: center;

      &[class*="label"]{
        @extend .baron-black;
        padding: 20px;
        border-left: 1px solid white;
      }
      &.label-1 {
        color: $yellow;
      }
      &.label-2 {
        color: $turquoise;
      }
      &.label-3 {
        color: $purple;
      }
      &.label-4 {
        color: $lime;
      }
    }
  }

  .big-title {
    @extend .size-5;
    @extend .semi-bold;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 20px;
    border-left: 0 solid lighten($color-blue, 7.5%);
  }

  .content {
    &.details {
      .owl-stage {
        display: table;
        table-layout: fixed;

        .owl-item {
          display: table-cell;
          float: none;
        }
      }

      .item.more {
        padding: 20px;
        cursor: pointer;

        &:after {
          position: absolute;
          content: ' ';
          left: 20px;
          right: 20px;
          bottom: 20px;
          height: 5px;
        }

        .post {
          padding: 6px 0 0;
        }

        small {
          display: block;
          padding: 20px 0 0;

          & ~ div {
            color: #000;
            text-transform: uppercase;
            padding: 2px 0 30px;
          }
        }

        &[class*="label"]{
          outline-offset: -5px;
        }
        &.label-1 {
          &:hover {
            outline: 1px solid $yellow;
          }
          &:after,
          &:before {
            background: $yellow;
          }
        }
        &.label-2 {
          &:hover {
            outline: 1px solid $turquoise;
          }
          &:after,
          &:before {
            background: $turquoise;
          }
        }
        &.label-3 {
          &:hover {
            outline: 1px solid $purple;
          }
          &:after,
          &:before {
            background: $purple;
          }
        }
        &.label-4 {
          &:hover {
            outline: 1px solid $lime;
          }
          &:after,
          &:before {
            background: $lime;
          }
        }

        &.active {
          background: $color-light-gray;

          &:hover {
            outline: none;
          }

          &:before {
            position: absolute;
            content: ' ';
            left: 20px;
            right: 20px;
            top: 0;
            height: 5px;
          }

          &:after {
            visibility: hidden;
          }
        }
      }

      .description {
        display: none;
        background: $color-light-gray;
        padding: 0 20px 60px;

        .play {
          position: static;
          margin: 20px 0;
        }
      }
    }
  }

  .btn-prev,
  .btn-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 36px;
    background: $color-header;
    cursor: pointer;
    z-index: 1000;

    i {
      @extend .size-3;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26px;
      height: 26px;
      margin: -13px 0 0 -13px;
    }
  }

  .btn-prev {
    left: 0;
  }

  .btn-next {
    right: 0;
  }
}

@media (min-width: 668px) {
  .list > .row:nth-child(2n) .big-title {
    border-left: 1px solid lighten($color-blue, 7.5%) !important;
  }
  .list > .row:nth-child(2n-1) .big-title {
    border-left: 1px solid darken($color-blue, 3.5%) !important;
  }
}

@media (min-width: 848px) {
  .list > .row:nth-child(2n) .big-title {
    border-left: 2px solid lighten($color-blue, 7.5%) !important;
  }
  .list > .row:nth-child(2n-1) .big-title {
    border-left: 2px solid darken($color-blue, 3.5%) !important;
  }
}

@media (min-width: 1216px) {
  .list > .row:nth-child(2n) .big-title {
    border-left: 3px solid lighten($color-blue, 7.5%) !important;
  }
  .list > .row:nth-child(2n-1) .big-title {
    border-left: 3px solid darken($color-blue, 3.5%) !important;
  }
}
