.masonry {
  background: #eee;

  .item {
    width: 100%;
    float: left;

    padding: 50% 0;

    overflow: hidden;
    position: relative;

    background: {
      image: none;
      position: 50% 0;
      size: cover;
    };

    @include item-preview;
  }
}

@media (min-width: 460px) {
  .masonry {
    .item {
      width: 50%;
      padding: 25% 0;

      &.width-x2 {
        width: 100%;
        padding: 25% 0;
      }
      &.height-x2 {
        padding: 50% 0;
      }
    }
  }
}

@media (min-width: 690px) {
  .masonry {
    .item {
      width: 33.33%;
      padding: 16.66% 0;

      &.width-x2 {
        width: 66.66%;
        padding: 16.66% 0;
      }
      &.height-x2 {
        width: 33.33%;
        padding: 33.33% 0;
      }
    }
  }
}

@media (min-width: 920px) {
  .masonry {
    .item {
      width: 25%;
      padding: 12.5% 0;

      &.width-x2 {
        width: 50%;
        padding: 12.5% 0;
      }
      &.height-x2 {
        width: 25%;
        padding: 25% 0;
      }
    }
  }
}
