.line-height-1 {
  line-height: 1;
}
.text-uppercase {
  text-transform: uppercase;
}
.size-0 {
  font-size: 11px;
}
.size-1 {
  font-size: 13px;
}
.size-2 {
  font-size: 16px;
}
.size-3 {
  font-size: 18px;
}
.size-4 {
  font-size: 21px;
}
.size-5 {
  font-size: 26px;
}
.size-6 {
  font-size: 36px;
}
.size-7 {
  @extend .line-height-1;
  font-size: 60px;
}
.size-8 {
  @extend .line-height-1;
  font-size: 104px;
}

.baron-regular {
  font-family: 'Baron Neue Regular', 'Open Sans', Helvetica, Arial, sans-serif;
}
.baron-bold {
  font-family: 'Baron Neue Bold', 'Open Sans', Helvetica, Arial, sans-serif;
}
.baron-black {
  font-family: 'Baron Neue Black', 'Open Sans', Helvetica, Arial, sans-serif;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}