.users-wrapper {
  padding-bottom: 60px;
  max-width: 992px;

  position: relative;

  &::after {
    position: absolute;
    content: ' ';
    top: 0;
    right: -15px;
    bottom: 0;
    width: 15px;
    display: block;
    background: white;
  }

  > .row:nth-child(2n-1) {
    background: $color-darken-white;

    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 15px;
      display: block;
      background: white;
    }
  }
}

.users {
  margin-bottom: 1px;

  .photo {
    width: 60px;
    height: 60px;
    overflow: hidden;
  }

  .label {
    width: 10px;
    height: 60px;
    padding: 0 !important;
  }

  .content {
    /* width: 80%; */

    .item {
      text-align: center;
      display: block;
      text-decoration: none;
      padding: 0 15px;

      .table {
        background: transparent;
        height: 60px;
      }
      &.name {
        @extend .size-2;
        color: #000;
      }
      &.post, &.company, &.city {
        @extend .text-muted;
      }
      &.social {
        text-align: center;

        .social-link {
          display: inline-block;
        }
      }

      &.thumbs_up-blue-bg__wrapper {
        background-color: $color-blue;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: $color-link-button-hover;

          .thumbs_up-blue_bg::before {
            background-position: 0 -22px;
          }
        }

        &:active {
          background-color: $color-link-button-active;

          .thumbs_up-blue_bg::before {
            background-position: 0 -44px;
          }
        }
      }
    }
  }
}

.input-search {
  .btn {
    height: 46px;
    background: {
      color: $color-link-button-background;
      image: url('../images/icon-zoom.png');
      repeat: no-repeat;
      position: 50% 50%;
    };

    &:hover {
      background: {
        color: $color-link-button-hover;
        image: url('../images/icon-zoom.png');
        repeat: no-repeat;
        position: 50% 50%;
      };
    }
    &:active {
      background: {
        color: $color-link-button-active;
        image: url('../images/icon-zoom.png');
        repeat: no-repeat;
        position: 50% 50%;
      };
    }
  }
}